configman==1.0.1
configobj==4.7.2
coverage==3.5.2b1
hbase-thrift==0.20.4
isodate==0.4.7
lxml==2.3.4
mock==0.8.0
nose==1.1.2
poster==0.8.1
psycopg2==2.0.13
simplejson==2.0.9
statsd==0.5.0
thrift==0.8.0
web.py==0.36
